
@{
 Layout = null;
}


<script type="text/javascript">
    function OnCompleteAddSubdivision(request, status) {
        if (status != 'success') alert("Не удалось добавить подразделение");
        else {
            pcModalModeAddSubdivision.Hide();
        }
    }
    function OnCompleteEditSubdivision(request, status) {
        if (status != 'success') alert("Не удалось сохранить изменения");
        else {
            pcModalModeDetailsSubdivision.Hide();
        }
    }

    
function OnCompleteAddSub(request, status) {
    if (status != 'success') alert("Не удалось добавить подразделение");
    else {
        pcModalModeSoleTradersSubs.Hide();
    }      
   }
function OnCompleteEditSub(request, status) {
    if (status != 'success') alert("Не удалось сохранить изменения");
    else {
        pcModalModeDetailsSoleTraderSubdivision.Hide();
    }
}
function EditubdivisionView(id) {

    $.post('/Subscriber/EditSubdivisionRequisiteView', { id: id }, function (data) { $('#RequisiteEdit').html(data); });
    $.post('/Subscriber/EditSubdivisionAddressView', { id: id }, function (data) { $('#AddressEdit').html(data); pcModalModeDetailsSubdivision.Show(); });
}

function SubdivisionAddView() {

    $.post('/Subscriber/AddSubdivisionRequisiteView', { identifierSubscriber: $('#identifierSubscriber').val() }, function (data) {
        $('#RequisiteAdd').html(data);
        $.post('/Subscriber/AddSubdivisionAddressView', { identifierSubscriber: $('#identifierSubscriber').val() }, function (data) { $('#AddressAdd').html(data); });
        pcModalModeAddSubdivision.Show();

    });
   
}
</script>

<button class="action bluebtn" type="button" onclick="SubdivisionAddView()"><span class="label">Добавить подразделение</span></button>

 
 @Html.Hidden("identifierSubscriber",ViewData["IdentifierSubscriber"])        

    <div id="TreeListPartialArea">
         @Html.Action("TreeListSubdivision", "Subscriber", new {identifierSubscriber = ViewData["IdentifierSubscriber"]  })
    </div>

 @Html.DevExpress().PopupControl(
                              settingsPC =>
                              {
                                  settingsPC.Name = "pcModalModeAddSubdivision";//модальное окно для добавления подразделения;
                                  settingsPC.Width = 700;
                                  settingsPC.Height = 530;
                                  settingsPC.AllowDragging = true;
                                  settingsPC.CloseAction = CloseAction.CloseButton;
                                  settingsPC.PopupAnimationType = AnimationType.None;
                                  settingsPC.HeaderText = "Добавить подразделение";
                                  settingsPC.ShowLoadingPanel = true;
                                  settingsPC.Modal = true;
                                  settingsPC.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
                                  settingsPC.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
                                  settingsPC.ClientSideEvents.CloseUp = "function(s, e){$('#RequisiteAdd').empty() ;$('#AddressAdd').empty() }";
                                  
                                  settingsPC.SetContent(() =>
                                  {
                                      using (Ajax.BeginForm("AddSubdivision", "Subscriber", new { IdentifierSubscriber = ViewData["IdentifierSubscriber"] }, new AjaxOptions { UpdateTargetId = "TreeListPartialArea", Confirm = "Добавить подразделение?", OnComplete = "OnCompleteAddSubdivision" }, new { id = "AddSubdivisionForm" }))
                                      {
                                          Html.RenderPartial("~/Views/Subscriber/Subdivision/_AddSubdivision.cshtml");

                                      }
                                  });
                              }).GetHtml()

  
            @Html.DevExpress().PopupControl(
                              settingsPC =>
                              {
                                  settingsPC.Name = "pcModalModeDetailsSubdivision";
                                  settingsPC.Width = 880;
                                  settingsPC.Height = 450;
                                  settingsPC.AllowDragging = true;
                                  settingsPC.CloseAction = CloseAction.CloseButton;
                                  settingsPC.PopupAnimationType = AnimationType.None;
                                  settingsPC.HeaderText = "Детали подразделения";
                                  settingsPC.ShowLoadingPanel = true;
                                  settingsPC.Modal = true;
                                  settingsPC.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
                                  settingsPC.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
                                  settingsPC.ClientSideEvents.CloseUp = "function(s, e){$('#RequisiteEdit').empty(); $('#AddressEdit').empty() }";
                                  settingsPC.SetContent(() =>
                                  {
                                      using (Ajax.BeginForm("EditSubdivision", "Subscriber", new { IdentifierSubscriber = ViewData["IdentifierSubscriber"] }, new AjaxOptions { UpdateTargetId = "TreeListPartialArea", Confirm = "Внести измнения?", OnComplete = "OnCompleteEditSubdivision" }, new { id = "EditSubdivisionForm" }))
                                      {
                                          Html.RenderPartial("~/Views/Subscriber/Subdivision/_EditSubdivision.cshtml");
                                      }
                                  });
                              }).GetHtml()