@{
    Layout = null;
}
<script type="text/javascript">

    function EditPasswor_ModelPrivateEditPasswor() {
        if (ASPxClientEdit.ValidateGroup('UserPassVG')) {
            
            var IdUser = $('#IdUser').val();
            var pass = NewPassword2.GetValue();
            $.post('/Users/EditPassword', { id: IdUser, str: pass }, function (data) { if (data == 'True') { alert("Пароль изменен"); pcModalModePrivateEditPassword.Hide(); } else alert("Не удалось изменить пароль"); });
        }
    };


</script>
<table>
    <tr>
        <td>
            @Html.DevExpress().Label(settings => { settings.Name = "LabelEditPassword"; settings.Text = "Новый пароль"; settings.Width = 130; }).GetHtml()</td>
        <td>
            @Html.DevExpress().TextBox(TextBoxsettings =>
       {
           TextBoxsettings.Name = "NewPassword2";
           TextBoxsettings.Width = 250;
           TextBoxsettings.ShowModelErrors = true;
           TextBoxsettings.Properties.Password = true;
           TextBoxsettings.Properties.ValidationSettings.ValidationGroup = "UserPassVG";
           TextBoxsettings.Properties.ValidationSettings.RequiredField.IsRequired = true;
           TextBoxsettings.Properties.ValidationSettings.RequiredField.ErrorText = "Обязательное поле";
           TextBoxsettings.Properties.ValidationSettings.RegularExpression.ValidationExpression = @"(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$";
           TextBoxsettings.Properties.ValidationSettings.RegularExpression.ErrorText = "Пароль не удовлетворяет требованиям безопасности";
           TextBoxsettings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
       }).GetHtml()
        </td>
    </tr>
</table>

<button class="action bluebtn"  type="button" onclick="javascript:EditPasswor_ModelPrivateEditPasswor();"><span class="label">Сохранить</span></button>
<button class="action"  type="button" onclick="javascript:pcModalModePrivateEditPassword.Hide();"><span class="label">Отмена</span></button>


