@model IsEnergyModel.Users

  <script type="text/javascript">
       function UpdateUploadButton() {
           btnUpload.SetEnabled(fileUploadEdit.GetText(0) != "");
       }
       function clearFileInputField() {
           fileUploadEdit.ClearText();
       }
      
              
   </script>

          <table>
         <tr><td> @Html.Partial("Certificate", Model)</td></tr>

              
            
      <tr><td> @Html.Action("GridViewArchivCertificate", new { id = Model.IdUser })</td></tr>
</table>

