@model IsEnergyModel.Users

  <script type="text/javascript">
       function UpdateUploadButton() {
           btnUpload.SetEnabled(fileUploadEdit.GetText(0) != "");
       }
       function clearFileInputField() {
           fileUploadEdit.ClearText();
       }
      
              
   </script>

@using (Html.BeginForm("Create", "Users", FormMethod.Post, new { enctype = "Multipart/form-data" }))
{
          <table>
         <tr><td> @Html.Partial("Certificate", Model)</td></tr>

          <tr><td> 
              <button class="action bluebtn" type="button" onclick="javascript:pcModalModeCertificate.Show();"><span class="label">Загрузить новый сертификат</span></button>     
          </td></tr>
            
      <tr><td> @Html.Action("GridViewArchivCertificate", new { id = Model.IdUser })</td></tr>
</table>

}
