@model IsEnergyModel.Users
@{
    ViewBag.Title = "_LoadCertificate";
}

<script type="text/javascript">
    function UpdateUploadCertButton() {
        if (fileUploadEdit.GetText(0) != "")
        {
            var submitButton = document.getElementById("btnUpload");
            submitButton.disabled = false;
        }
    }

    function clearFileInputField() {
        fileUploadEdit.ClearText();
    }

              
   </script>

@Html.DevExpress().UploadControl(Uploadsettings =>
             {
                 Uploadsettings.Name = "fileUploadEdit";//accept
                 
                Uploadsettings.CallbackRouteValues = new { Controller = "Users", Action = "NewCertificateAdd" };
                Uploadsettings.ControlStyle.CssClass = "editorArea";
                Uploadsettings.NullText = "Выберете сертификат";
                 Uploadsettings.ValidationSettings.AllowedFileExtensions = new string[] { ".cer", ".p7b" };
                Uploadsettings.FileInputCount = 1; 
                Uploadsettings.Width = 400;
//settings.ControlStyle.CssClass = "editorArea";
                Uploadsettings.ClientSideEvents.TextChanged = "function(s,e) {  UpdateUploadCertButton();}";
                Uploadsettings.ClientSideEvents.FileUploadStart = "function(s,e) {  ClearFileContainer();}";
                }).GetHtml()

   <table >
     <tr>
      <td>
          <button class="action bluebtn"  name="btnUpload" id="btnUpload" disabled="disabled" type="submit"  ><span class="label">Загрузить</span></button>
     </td>
          <td>  
              <button class="action" type="button" onclick="javascript:pcModalModeCertificate.Hide();"><span class="label">Отмена</span></button>
          </td>
   </tr>
</table> 