@model IsEnergyModel.Users

@{
    ViewBag.Title = "Пользователи";
}
<h2>Пользователи</h2>

<button class="action bluebtn" onclick="javascript:pcModalModeCreateUser.Show();"><span class="label">Добавить</span></button>

<div id ="GridViewPartialArea">
@Html.Action("GridViewPartial")
</div>

@Html.DevExpress().PopupControl(
    settings =>
    {
        settings.Name = "pcModalModeCreateUser";
        settings.Width = 400;
        settings.Height=300;
        settings.AllowDragging = true;
        settings.CloseAction = CloseAction.CloseButton;
        settings.PopupAnimationType = AnimationType.None;
        settings.HeaderText = "Добавление пользователя";
        settings.ShowLoadingPanel = true;
        settings.Modal = true;
        settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
        settings.ClientSideEvents.CloseUp = "function(s, e){ ASPxClientEdit.ClearEditorsInContainer(pcModalModeCreateUser, '', true); }";
       
        settings.SetContent(() =>
        {
                Html.RenderAction("Create");
          
        });
             
        
    }).GetHtml()

