@model IEnumerable<IsEnergyModel.Operators>

@{
    ViewBag.Title = "Operators";
}

<script type="text/javascript">

    function CheckAll() {
        ASPxClientEdit.ClearEditorsInContainer(null);
        MainOperator.SetChecked(false);
        ModifyingNews.SetChecked(false);
        ModifyingMailing.SetChecked(false);
    }
</script>

<h3>Операторы</h3>

<p>
    <button class="action bluebtn" type="button" onclick="javascript:pcModalModeOperator.Show();"><span class="label">Добавить</span></button>
</p>

@Html.DevExpress().PopupControl(
    settings =>
    {
        settings.Name = "pcModalModeOperator";
        settings.Height= 400;
        settings.Width = 600;
        settings.AllowDragging = true;
        settings.CloseAction = CloseAction.CloseButton;
        settings.PopupAnimationType = AnimationType.None;
        settings.HeaderText = "Добавление оператора";
        settings.ShowLoadingPanel = true;
        settings.Modal = true;
        settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
        settings.ClientSideEvents.CloseUp = "function(s, e){  CheckAll(); }";
        settings.SetContent(() =>
        {
                Html.RenderAction("Create");
        });
             
        
    }).GetHtml()

<div id="GridViewOperator">
    @Html.Action("GridViewPartial")
</div>