@{
    ViewBag.Title = "Документы";
}
<div id="ContentDocuments">
    @Html.DevExpress().Splitter(settings => {
    settings.Name = "DocumentSplitter";
    
    settings.Orientation = System.Web.UI.WebControls.Orientation.Horizontal;
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(98);
    settings.Height = System.Web.UI.WebControls.Unit.Pixel(500);
    settings.Styles.Pane.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(0);
    settings.Styles.Pane.Border.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(1);
    

    settings.Panes.Add(subpane => {
        //subpane.Name = "ContentLeft";
       // subpane.ScrollBars = System.Web.UI.WebControls.ScrollBars.Vertical;
       
		subpane.PaneStyle.CssClass = "leftPanel";
        subpane.Separators.Visible = DefaultBoolean.True;
        subpane.ShowCollapseBackwardButton = DefaultBoolean.True;
        subpane.ShowSeparatorImage = DefaultBoolean.True;
        subpane.Size = System.Web.UI.WebControls.Unit.Percentage(18);
        subpane.AutoHeight = true;
       
        subpane.SetContent(() => {
        Html.RenderPartial("LeftPanel");
        });
    });
    settings.Panes.Add(subpane =>
    {
        subpane.Name = "ContentDocument";
        subpane.ScrollBars = System.Web.UI.WebControls.ScrollBars.Vertical;
        subpane.PaneStyle.CssClass = "mainContentPane";
        subpane.ShowCollapseBackwardButton = DefaultBoolean.True;
        subpane.Size = System.Web.UI.WebControls.Unit.Percentage(100);
        subpane.AutoHeight = true;
        subpane.SetContent(() =>
        {
            Html.RenderAction("GridViewPartial"); 
        });
    });
  

}).GetHtml()

</div>

@Html.DevExpress().PopupControl(
    settings =>
    {
        settings.Name = "pcModalAddDocuments";
       // settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.DragElement = DragElement.Window;
        settings.Width =915;
       
        settings.AllowDragging = true;
        settings.CloseAction = CloseAction.CloseButton;
        settings.PopupAnimationType = AnimationType.None;
       
       
        settings.HeaderText = "Добавление документов";
        settings.ShowLoadingPanel = true;
        settings.Modal = true;
        settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
        settings.ClientSideEvents.CloseButtonClick = "function(s, e) { ClearDocumentsTemp() }";
        settings.SetContent(() =>
        {

            Html.RenderPartial("AddDocumentsWindow");   
             
           
        });

     }).GetHtml()

@Html.DevExpress().LoadingPanel(
        settings => {
            settings.Name = "LoadingPanel";
            settings.Text = "Подпись...";
            settings.Modal = true;
            
        }
    ).GetHtml()
}
