fieldset {
    border: solid 1px #CCC;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 1em 1em;
    margin: 1em 0em;
}

legend {
    padding: 0.2em 1em;
    border: solid 1px #CCC;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.fieldsetInCss {
    border: solid 1px #CCC;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 1em 1em;
    margin: 1em 0em;
}

.align_centerInCss {
    border: solid 1px #CCC;
    background-color: white;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 1em 1em;
    margin: 1em 0em;
}

.fieldsetInCssHeader {
    border: solid 1px #CCC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    right: 1%;
    top: 1%;
}

.SplitterDocuments {
    width: 100%;
}
/*================================ Панель логина ==================*/
#Log {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    right: 1%;
    top: 1%;
}

#LogPanel {
    border: solid 1px #CCC;
    width: 360px;
    margin: 10px 5px;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-radius: 5px;
}

#Ico {
    width: 45px;
    float: left;
}

#ExitButton {
    width: 70px;
    float: right;
    position: absolute;
    top: 20px;
    right: 20px;
}

#FIOCombobox {
    width: 190px;
    margin-left: 50px;
    margin-right: 90px;
}

#PersonalKainet {
}

.LogPanel {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    right: 1%;
    top: 1%;
}

#PersonalKainet {
    width: 170px;
    margin-top: 4px;
    margin-left: -11px;
    border: solid 1px #CCC;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-color: white;
    background-color: White;
    font-size: 16px;
    line-height: 5px;
    z-index: 100;
}

    #PersonalKainet p {
        padding: 10px;
        height: 10px;
        line-height: 1px;
        cursor: pointer;
    }

        #PersonalKainet p:hover {
            background-color: #E2E2E2;
            height: 25px;
        }

    #PersonalKainet a:visited {
        color: black;
    }
/*================================ /Панель логина ==================*/

/*=================================Кнопки================================*/
button {
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    font: bold 11px Helvetica, Arial, sans-serif;
    color: #444;
    line-height: 17px;
    height: 18px;
    display: inline-block;
    float: left;
    margin: 5px;
    padding: 5px 6px 4px 6px;
    background: #F3F3F3;
    border: solid 1px #D9D9D9;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-transition: border-color .20s;
    -moz-transition: border-color .20s;
    -o-transition: border-color .20s;
    transition: border-color .20s;
    height: 29px !important;
    cursor: pointer;
}

    button:hover {
        background: #F4F4F4;
        border-color: #C0C0C0;
        color: #333;
    }

    button:active {
        border-color: #4D90FE;
        color: #4D90FE;
        -moz-box-shadow: inset 0 0 10px #D4D4D4;
        -webkit-box-shadow: inset 0 0 10px #D4D4D4;
        box-shadow: inset 0 0 10px #D4D4D4;
    }

    button.bluebtn {
        border: 1px solid #3079ED !important;
        background: #4B8DF8;
        background: -webkit-linear-gradient(top, #4C8FFD, #4787ED);
        background: -moz-linear-gradient(top, #4C8FFD, #4787ED);
        background: -ms-linear-gradient(top, #4C8FFD, #4787ED);
        background: -o-linear-gradient(top, #4C8FFD, #4787ED);
        -webkit-transition: border .20s;
        -moz-transition: border .20s;
        -o-transition: border .20s;
        transition: border .20s;
    }

        button.bluebtn:hover {
            border: 1px solid #2F5BB7 !important;
            background: #3F83F1;
            background: -webkit-linear-gradient(top, #4D90FE, #357AE8);
            background: -moz-linear-gradient(top, #4D90FE, #357AE8);
            background: -ms-linear-gradient(top, #4D90FE, #357AE8);
            background: -o-linear-gradient(top, #4D90FE, #357AE8);
        }

    button.greenbtn {
        border: 1px solid #29691D !important;
        background: #3A8E00;
        background: -webkit-linear-gradient(top, #3C9300, #398A00);
        background: -moz-linear-gradient(top, #3C9300, #398A00);
        background: -ms-linear-gradient(top, #3C9300, #398A00);
        background: -o-linear-gradient(top, #3C9300, #398A00);
        -webkit-transition: border .20s;
        -moz-transition: border .20s;
        -o-transition: border .20s;
        transition: border .20s;
    }

        button.greenbtn:hover {
            border: 1px solid #2D6200 !important;
            background: #3F83F1;
            background: -webkit-linear-gradient(top, #3C9300, #368200);
            background: -moz-linear-gradient(top, #3C9300, #368200);
            background: -ms-linear-gradient(top, #3C9300, #368200);
            background: -o-linear-gradient(top, #3C9300, #368200);
        }

    button.redbtn {
        border: 1px solid #D14836 !important;
        background: #D64937;
        background: -webkit-linear-gradient(top, #DC4A38, #D14836);
        background: -moz-linear-gradient(top, #DC4A38, #D14836);
        background: -ms-linear-gradient(top, #DC4A38, #D14836);
        background: -o-linear-gradient(top, #DC4A38, #D14836);
        -webkit-transition: border .20s;
        -moz-transition: border .20s;
        -o-transition: border .20s;
        transition: border .20s;
    }

        button.redbtn:hover {
            border: 1px solid #B0281A !important;
            background: #D14130;
            background: -webkit-linear-gradient(top, #DC4A38, #C53727);
            background: -moz-linear-gradient(top, #DC4A38, #C53727);
            background: -ms-linear-gradient(top, #DC4A38, #C53727);
            background: -o-linear-gradient(top, #DC4A38, #C53727);
        }

    button.action:hover {
        -moz-box-shadow: 0 1px 0px #DDD;
        -webkit-box-shadow: 0 1px 0px #DDD;
        box-shadow: iset 0 1px 0px #DDD;
    }

    button.action:active {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border-color: #C6C6C6 !important;
    }

    button.bluebtn:active {
        border-color: #2F5BB7 !important;
    }

    button.greenbtn:active {
        border-color: #2D6200 !important;
    }

    button.redbtn:active {
        border-color: #B0281A !important;
    }
    /*------------------------------------*     $BUTTON LABEL *------------------------------------*/

    button span.label {
        display: inline-block;
        float: left;
        line-height: 17px;
        height: 18px;
        padding: 0 1px;
        overflow: hidden;
        color: #444;
        -webkit-transition: color .20s;
        -moz-transition: color .20s;
        -o-transition: color .20s;
        transition: color .20s;
    }

    button span.label {
        line-height: 15px !important;
    }

    button:hover .label.bluebtn {
        color: #7090C8;
    }

    button:hover .label.greenbtn {
        color: #42B449;
    }

    button:hover .label.yellow {
        color: #F7CB38;
    }

    button.bluebtn .label {
        color: #FFF !important;
        text-shadow: 0 1px 0 #2F5BB7 !important;
    }

    button.greenbtn .label {
        color: #FFF !important;
        text-shadow: 0 1px 0 #2D6200 !important;
    }

    button.redbtn .label {
        color: #FFF !important;
        text-shadow: 0 1px 0 #B0281A !important;
    }

    button.action .label {
        padding: 0 17px !important;
    }

    button.action:active .label {
        color: #333 !important;
    }

    button.bluebtn:active .label, button.greenbtn:active .label, button.redbtn:active .label {
        color: #FFF !important;
    }

/*=================================/Кнопки================================*/
/*=================================== Панель загрузки=====================*/
.LoadingPanel {
    margin: 0 25% 0 25%;
    width: 50%;
}
/*=================================== /Панель загрузки=====================*/
/*===================================Станица ошибки========================*/
#CrazyWoman {
    margin-top: 50px;
    float: left;
}

#StrResult {
    font-size: 25px;
    color: #ff4f00;
}

#StrError {
    font-size: 18px;
    color: #008cf0;
    margin-left: 350px;
    margin-top: 30px;
    text-align: center;
    width: 800px;
}

/*===================================/Станица ошибки========================*/
/*===================================Юридические лица ======================*/
#LegalEntities {
    height: 500px;
    width:1055px;
}

#RequisitesLegalEntities {
    width: 570px;
    height: 480px;
    float: left;
}
fieldset {
    margin:3px;
}
legend {
    background-color:#DDD;
}
#RequisitesContactFaceLegalEntitiesfildset {
    width: 400px;
    height: 470px;
    margin-left: 580px;
}
#UrAdressfieldset {
    height:250px;
}
#fileUploadCreat {
    margin-top:10px;
}
#LegalEntitiesRequisites {
 margin:0 auto 0 auto;
 height: 500px;
width:1055px;
}
/*===================================/Юридические лица===================*/ 


/*===================================ИП ==================================*/
#SoleTraderss {
    height:570px;
    width:1055px;
}

#RequisitesSoleTraderss {
    width: 570px;
    height: 480px;
    float: left;
}
fieldset {
    margin:3px;
}
legend {
    background-color:#DDD;
}
#RequisitesContactSoleTradersfildset {
    width: 400px;
    height:450px;
    margin-left: 580px;
   
}

#SoleTradersRequisites {
 margin:0 auto 0 auto;
 height: 500px;
width:1055px;
}

/*===================================/ИП==================================*/
.align_center_to_left
{
position: relative;
right: 50%;
float: right;
}
.align_center_to_right
{
position: relative;
z-index: 1;
right: -50%;
}
.align_centerInCss {
        border: solid 1px #CCC;
        background-color: white;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
padding: 1em 1em;
margin: 1em 0em;

}

.Back {
       icon:url('images/Back.png') ;
      
}

/*===================================Создание физ личика ================*/
#CreatePhysicalPersons {
    width:900px;
    height:220px;
}

#RequisitesPhysicalPersons {
    width:380px;
    float:left;
}
#ContactUserPhysicalPersons {
    width:auto;
    margin-left:405px;
}
/*================================Окно с сервисами=======================================*/
/*++++!!!!!!!!!!!!++++*/
.GridViewContractsSubscriberArea {
    margin-top:40px;
}

.GridViewEnumeratorSubscriberArea {
    margin-top:40px;
}

.ContractsAndEnumerators {
width:100%;
    float:left;
}

.ContractsOfSubscriber {
   float:left;
   width:40%;
}

.EnumeratorsOfSubscriber {
    width:40%;
     float: right;
     position:relative;
}

.BelongingGroups {
    width:100%;
    float:left;
}

 .EsOfSubscr {
    width:50%;
    float:left;
}
.GcOfSubscr {
    margin-left:50%;
}


/*==============================Документы левая боковая панель=========================*/
#ContentDocuments {

font-family:Verdana;
width:100%;

border:10px;
}
#gvRowSelection {
    border: 3px;
}
.leftPanel {
float:left;
border: 1px;
background-color:#008000;
}

.box {
	width: 160px;
	margin: 10px auto;
	border: 0;
	border-radius: 4px;
	padding: 1px;
	font-family: Georgia, Helvetica, sans-serif;
	background: #fff;
    
    
	}
#DocumentAddMenuDiv h3 {
  
	background: #fff; /* Для старых браузров */
	position:relative;
	padding: 5px;
	border: 0;
	border-radius: 5px;
	color:black;
	text-shadow: 1px 1px 1px #ffffff;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	margin:0;
	cursor: pointer;
    border: solid 1px #CCC;
    background: #eeeeee; /* Для старых браузров */
	background: -moz-linear-gradient(top, #ffffff, #eeeeee 25%, #eeeeee 75%, #fff);/* Firefox 3.6+ */
	background: -webkit-linear-gradient(top, #ffffff, #eeeeee 25%, #eeeeee 75%, #fff);/* Chrome 10+, Safari 5.1+ */
	background: -o-linear-gradient(top, #ffffff, #eeeeee 25%, #eeeeee 75%, #fff); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff, #eeeeee 25%, #eeeeee 75%, #fff); /* IE10 */
	background: linear-gradient(top, #ffffff, #eeeeee 25%, #eeeeee 75%, #fff); /* CSS3 */ 
	
   
    }
 #DocumentAddMenuDiv div {
    width: 230px;
    height:80px;
    margin:0px;
    margin-top:2px;
    padding:0px;
    text-align: center;
   
	background: #fff; /* Для старых браузров */
	
	border-radius: 5px;
	position:absolute;
    z-index:1000;
	font-size: 13px;
    border: solid 1px #CCC;
	color: #555;
    line-height: 2;
    font-family: Georgia, Helvetica, sans-serif;
	
	}

#DocumentAddMenu a:hover {   color: #008000; /* Цвет обычной ссылки */ }

 #DocumentAddMenu p {
 cursor: pointer;

 
    }

#DocumentAddMenu p:hover {
 background-color: #E2E2E2;      
 }
.ButtonDocuments {
    border:1px;
    border-radius: 5px;
    height:25px;
    cursor: pointer; 
    text-align: center; 
    padding:2px 10px;
    -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
  
	
}
/*sfsfsfsf*/
#SelectSub {
 width:800px;
background-color:white;
 border: solid 1px #CCC;

}


/*==============================/Документы левая боковая панель=========================*/
/*==============================Панель добавления документов============================*/
#DocumentPanel {
overflow-y:scroll;
width:100%;
max-height:300px;

    
}
.DocumentPanelContent {
    margin-left:5px;
   
   
}
.Comment  {
    width:700px;
    border:solid 1px #CCC;
    
}

/*==============================/Панель добавления документов============================*/
/*==============================Детали документов=======================================*/
#DetailsDocument {
    margin:10px
}
/*==============================/Детали документов=======================================*/

/*=================================Контрагенты и иже с ними==============================*/
#MyContragentsGridView div{
float:left;
}

#MyContragentsButton div{
}