@model IsEnergyModel.Subscribers  
@{    
         <fieldset  class="ContractsOfSubscriber">
             <legend><b>Договора с энергосбытом</b></legend>
             <button id="ForCreateContracts"  type="button" onclick="javascript:pcModalModeCreateContract.Show();"><span class="label">Добавить</span></button>
             <div id="GridViewContractsSubscriber" class="GridViewContractsSubscriberArea">
                 @Html.Action("GridViewPartialpcModalModeCreateContract", new { IdentifierSubscriber = Model.IdentifierSubscriber })
             </div>
         </fieldset> 
}
 
