@model IsEnergyModel.Subscribers 
 @{  

     
     <script type="text/javascript">
         function EnumeratorAddView() {
             $.post('/Subscriber/CreateEnumeratorStart', { identifierSubscriber: $('#IdentifierSubscriber').val() }, function (data) { $('#CreateNewEnumerator').html(data); });
             pcModalModeCreateEnumerator.Show();
         }   
    </script>
     
     
     <fieldset class ="EnumeratorsOfSubscriber">
        <legend><b>Счетчики потребителя</b></legend>

<button id="ForCreateEnumerator"  type="button" onclick="javascript:EnumeratorAddView();"><span class="label">Добавить</span></button>
<div id="GridViewEnumeratorSubscriber" class="GridViewEnumeratorSubscriberArea">
@Html.Action("GridViewPartialpcModalModeCreateEnumerator")
</div>
       </fieldset>  

   }
