@using IsEnergyModel
@{
  ViewBag.Title = "Счётчики электропотребления";
  SubscribersEnumerator subscribersEnumerator = new SubscribersEnumerator();
  subscribersEnumerator = ViewBag.subscribersEnumerator;
  }
@using (Ajax.BeginForm("CreateEnumeratorSubscriber", "Subscriber", new AjaxOptions { UpdateTargetId = "GridViewEnumeratorSubscriber" }))
{
<div id="CreateNewEnumerator">
<table>
    <tr><td>@Html.DevExpress().Label(settings => { settings.Text = "Номер счетчика"; }).GetHtml()</td>
        <td>@Html.DevExpress().TextBoxFor(model => subscribersEnumerator.Code, settings => {
                 settings.Width = 140;                 
                 settings.ShowModelErrors = true;
                 settings.Properties.ValidationSettings.Display = Display.None;
                }).GetHtml()</td></tr>
    <tr><td>@Html.DevExpress().Label(settings => {settings.Width = 140; settings.Text = "Номер договора"; }).GetHtml()</td>
        <td>@Html.DevExpress().ComboBoxFor(model=>subscribersEnumerator.IdContractSubscriber,
        settings =>{
            settings.Width =140;
            settings.SelectedIndex = 0;
            settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
            settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
            settings.Properties.TextFormatString = "{0}";
            settings.Properties.ValueField = "IdContractSubscriber";
            settings.Properties.AnimationType = AnimationType.Auto;
            settings.Properties.ValueType = typeof(string);
            settings.Properties.Columns.Add("NumberContract", "Номер договора", 50);
        }).BindList(ViewData["Contracts"]).GetHtml()</td></tr>
</table>
<button class="action bluebtn" type="submit"  onclick="javascript:pcModalModeCreateEnumerator.Hide();"><span class="label">Добавить</span></button>
</div>
}
