@using IsEnergyModel
@{
  ViewBag.Title = "Договора с энергосбытом";
  SubscribersContracts subscribersContracts = new SubscribersContracts();
  subscribersContracts = ViewBag.subscribersContracts;
 }
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
  @using (Ajax.BeginForm("CreateContractSubscriber", "Subscriber", new AjaxOptions { UpdateTargetId = "GridViewContractsSubscriberArea" }))
            {
<table>
    @Html.HiddenFor(model =>subscribersContracts.IdentifierSubscriber)
    <tr><td>
        @Html.DevExpress().Label(settings => { settings.Text = "Номер договора"; }).GetHtml()
        </td>
        <td>
        @Html.DevExpress().TextBoxFor(model => subscribersContracts.NumberContract, settings => {
                 settings.Width = 140;                 
                 settings.ShowModelErrors = true;
                 settings.Properties.ValidationSettings.Display = Display.None;
                }).GetHtml() 
        </td></tr>

    <tr><td><button class="action bluebtn" type="submit" onclick="javascript:pcModalModeCreateContract.Hide();"><span class="label">Добавить</span></button></td></tr>
</table>

  }